<div class="casing" >
    <div class="container" (wheel)="onScroll($event)">
        <div *ngFor="let skill of skillData; let i = index">
            <div class="image-wrapper" [ngClass]="{'active': currentIndex === i}">
                <div class="image-container" >
                    <img [src]="skill.image" />
                </div>
            </div>
            <div class="heading-wrapper" [ngClass]="{'active': currentIndex === i}">
                <div class="heading">
                    {{ this.skill.heading }}
                </div>
            </div>
            <div class="para-wrapper" [ngClass]="{'active': currentIndex === i}">
                <div class="para">
                    {{ this.skill.para }}
                </div>
            </div>
        </div>
    </div>
 </div>
