
<div class="projectContainer">
    <div class="Heading"><h2>Thing's I have worked On</h2></div>

    <div class="row">

        <div class="block">
            <div class="card">
                <img src="/assets/Images/Pictures/Profile/fileImports.png" alt="">
            </div>
            <div class="frontTitle">
                <div class="Heading"><h5><u>Windows Service</u></h5></div>
                <div class="tagBox">
                    <img class="tag" src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/Microsoft_SQL_Server-CC2927?style=for-the-badge&logo=microsoft-sql-server&logoColor=white" alt="">
                </div>
            </div>
        </div>

        <div class="block">
            <div class="card">
                <img src="/assets/Images/Pictures/Profile/telnet.png" alt="">
            </div>
            <div class="frontTitle">
                <div class="Heading"><h5><u>RestAPI</u></h5></div>
                <div class="tagBox">
                    <img class="tag" src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/Microsoft_SQL_Server-CC2927?style=for-the-badge&logo=microsoft-sql-server&logoColor=white" alt="">
                </div>
            </div>
        </div>

        <div class="block">
            <div class="card">
                <img src="/assets/Images/Pictures/Profile/Network.gif" alt="">
            </div>
            <div class="frontTitle">
                <div class="Heading"><h5><u>Head-End-System</u></h5></div>
                <div class="tagBox">
                    <img class="tag" src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/Microsoft_SQL_Server-CC2927?style=for-the-badge&logo=microsoft-sql-server&logoColor=white" alt="">
                </div>
            </div>
        </div>

        <div class="block">
            <div class="card">
                <img src="/assets/Images/Pictures/Profile/bash.png" alt="">
            </div>
            <div class="frontTitle">
                <div class="Heading"><h5><u>Bash Scripting</u></h5></div>
                <div class="tagBox">
                    <img class="tag" src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white" alt="">
                    <img class="tag" src="https://img.shields.io/badge/Microsoft_SQL_Server-CC2927?style=for-the-badge&logo=microsoft-sql-server&logoColor=white" alt="">
                </div>
            </div>
        </div>

    </div>
</div>

